#mainWrapper {
  max-width: 70%;
  margin: auto; }

#mainContainer {
  margin-top: 20px; }

.h2 {
  margin-bottom: 20px; }

#listNav .btn {
  float: right; }
#listNav .form-control {
  float: right;
  width: 20%;
  margin-right: 10px; }
#listNav a {
  margin-left: 20px; }

.addFields label, #typeField label, #typeDiv div label {
  width: 15%; }
.addFields .form-control, #typeField .form-control, #typeDiv div .form-control {
  display: inline;
  width: 25%; }

#typeField {
  margin: 40px 0px 30px 0; }

#typeDiv div input {
  margin-bottom: 15px; }

#entryWrapper {
  width: 100%;
  padding: 30px;
  display: inline-block; }

.entryBlock {
  margin: 10px;
  float: left;
  height: 150px;
  width: 200px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 1px 1px 4px #d9d9d9;
  -moz-box-shadow: 1px 1px 4px #d9d9d9;
  box-shadow: 1px 1px 4px #d9d9d9;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
  position: relative; }
  .entryBlock input {
    position: absolute;
    left: 15px;
    top: 10px; }
  .entryBlock ul {
    margin-top: 22px;
    padding: 0;
    list-style-type: none;
    font-size: 12pt;
    font-weight: lighter; }
    .entryBlock ul li {
      margin-top: 5px; }
    .entryBlock ul .entryName {
      font-weight: bold; }

.redGlow {
  -webkit-box-shadow: 0 0 6px red;
  -moz-box-shadow: 0 0 6px red;
  box-shadow: 0 0 6px red; }

/*# sourceMappingURL=style.css.map */
