//Variables
$default-gray: #f9f9f9;
$default-black: #000;

//Functions
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color) {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
}

//Style code
#mainWrapper {
  max-width:70%;
  margin:auto;
}
#mainContainer {
  margin-top:20px;
}
.h2 {
  margin-bottom: 20px;
}
#listNav {
  .btn{
    float:right;
  }
  .form-control {
    float:right;
    width:20%;
    margin-right:10px;
  }
  a {
    margin-left:20px;
  }
}
.addFields {
  label {
    width:15%;
  }
  .form-control {
    display:inline;
    width:25%;
  }
}
#typeField {
  @extend .addFields;
  margin:40px 0px 30px 0;
}

#typeDiv {
  div{
    @extend .addFields;
    input{
      margin-bottom:15px;
    }
  }
}

#entryWrapper {
  width:100%;
  padding:30px;
  display: inline-block;
}

.entryBlock {
  margin:10px;
  float: left;
  height:150px;
  width:200px;
  background-color:$default-gray;
  border: 1px solid darken($default-gray, 10%);
  @include box-shadow(1px, 1px, 4px, lighten($default-black, 85%));
  @include border-radius(20px);
  text-align: center;
  overflow: hidden;
  position: relative;
  input{
    position: absolute;
    left:15px;
    top:10px;
  }
  ul {
    margin-top: 22px;
    padding: 0;
    list-style-type: none;
    font-size: 12pt;
    font-weight: lighter;
    li {
      margin-top: 5px;
    }
    .entryName{
      font-weight: bold;
    }
  }
}

.redGlow {
  @include box-shadow(0, 0, 6px, red);
}